/* Font */

$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$body-size: 17px;

/* Colors */

$azure: hsl(180, 100%, 97%);
$limegreen: hsl(120, 61%, 50%);
$steelblue: hsl(207, 44%, 49%);
$tomato: hsl(9, 100%, 64%);

$body-background-color: $azure;

$primary: hsl(197, 79%, 60%);

$info: $steelblue;
$success: $limegreen;
$warning: hsl(48, 89%, 60%);
$danger: $tomato;

/* Section */

$section-padding: 2rem 1rem;
