/* Colors */
$azure: hsl(180, 100%, 97%);
$limegreen: hsl(120, 60%, 50%);
$orangered: hsl(16, 100%, 50%);
$skyblue: hsl(197, 71%, 73%);
$steelblue: hsl(207, 44%, 49%);

$body-background-color: $azure;

$primary: $skyblue;

$info: $steelblue;
$success: $limegreen;
$warning: hsl(48, 89%, 60%);
$danger: $orangered;

/* Modal */
$modal-background-background-color: rgba($body-background-color, 0.71);

/* Section */
$section-padding: 2rem 1rem;
